.container{
  position: relative;
  max-width: 62.375rem;
  width: 100%;
  margin: 0 auto;
}


.cta{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
  height: 1.375rem;
  box-sizing: content-box;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  color: var( --color-white);
  border: none;
  font-family: "pretendard", sans-serif;
  background: linear-gradient(90deg, var(--color-primary), var(--color-skyblue));
  border-radius: .5rem;
}

.cta a{
  color: var( --color-white);
}