
/* 헤더 */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 12.5rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background: var(--color-gray0);
}

header .cta{
  width: 5.5rem;
}

/* 푸터 */
footer{
  display: flex;
  height: 10rem;
  padding: 2rem 6.5rem 4rem;
  justify-content: space-between;
  background: var(--color-black);
  position: relative;
}

footer .footer-copy{
  color: var(--color-copy);
}


footer .footer-links{
  display: flex;
  gap: 1.875rem;
}

footer a{
  color: var(--color-links);
}

footer .footer-sns{
  display: flex;
  gap: .75rem;
}

/* ========== main ========== */
/* 메인 공통 */
main{
  padding-bottom: 7.5rem;
}

.main-sec{
  padding: 3.125rem 0; 
}

.main-sec .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-sec .txt-area h2{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  margin-bottom: .625rem;
}

.main-sec .txt-area h2 strong{
  color: var(--color-transparent);
  -webkit-background-clip: text;
}

.main-sec .txt-area p{
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* 비주얼 */
.main-visual{
  background: var(--color-gray0);
}

.main-visual .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
  padding-top: 4.375rem;
  max-width: 75rem;
}

.main-visual .main-visual-title h2{
  font-size: 4rem;
  line-height: 1.25;
}

.main-visual .main-visual-title strong{
  background: linear-gradient(90deg, var(--color-primary), var(--color-pink));
  color: var(--color-transparent);
  -webkit-background-clip: text;
}

.main-visual .main-visual-btn{
  width: 19.375rem;
}

/* 메인-세이브 */
.main-sec-save{
  padding-top: 7.5rem;
}

.main-sec-save .txt-area strong{
  background: linear-gradient(90deg, var(--color-primary), var(--color-pink));
}


/* 메인-관리 */
.main-sec-management .txt-area strong{
  background: linear-gradient(90deg, var(--color-yellow), var(--color-pastelblue));
}


/* 메인-공유 */
.main-sec-share .txt-area strong{
  background: linear-gradient(90deg, var(--color-primary), var(--color-graypurple));
}

/* 메인-검색 */
.main-sec-search .txt-area strong{
  background: linear-gradient(90deg, var(--color-hotpink), var(--color-skyblue));
}


/* 반응형 */

/* 태블릿 이하 */
@media (max-width: 1199px) {
  /* 공통 */
  img{
    width: 100%;
  }
} 

/* 태블릿 */
@media all and (min-width:768px) and (max-width:1199px) { 
  .main-sec img{
    max-width: 24.0625rem;
  }

  /* 비주얼 */
  .main-visual-img img{
    max-width: 43.625rem;
  }
} 


/* 모바일 */
@media (min-width: 375px) and (max-width: 767px) {
  /* 공통 */
  header{
    padding: 0.8125rem 2rem;
  }

  main{
    padding-bottom: 2.5rem;
  }

  footer{
    height: 4rem;
    padding: 2rem 2rem 4rem;
  }

  .footer-copy{
    position: absolute;
    bottom: 32px;
  }

  .main-sec{
    padding: 2rem 0;
  }

  .main-sec:nth-child(odd) .container{
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .main-sec .container{
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 2rem;
  }

  .main-sec img{
    max-width: 100%;
  }

  .main-sec .txt-area h2{
    font-size: 1.5rem;
  }

  .main-sec .txt-area h2 br{
    display: none;
  }

  .main-sec .txt-area p{
    margin-bottom: 1.5rem;
  }

  .main-sec .txt-area p br{
    display: none;
  }

  /* 비주얼 */
  .main-visual .container{
    padding: 4.375rem 2rem 0;
    box-sizing: border-box;
  }
  
  .main-visual .main-visual-title h2{
    font-size: 2rem;
  }

  .main-visual .main-visual-btn{
    max-width: 12.5rem;
  }

}