.cardlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25em;
}

.empty-links {
  padding: 50px 0;
  text-align: center;
  grid-column: 1/4;
}

@media (max-width: 1124px) {
  .cardlist {
    grid-template-columns: 1fr 1fr;
  }
}

/* 모바일 */
@media (min-width: 375px) and (max-width: 767px) {
  .cardlist {
    grid-template-columns: 1fr;
  }
}
