.searchbar-container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.searchbar-container .search-input {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0.9375rem;
  padding-left: 2.625rem;
  background-image: url(../../../assets/search.svg);
  background-repeat: no-repeat;
  background-position: left 1em center;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}
