header {
  position: relative;
}

main {
  padding-bottom: 6.25rem;
}

.search-keyword {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 40px;
  color: var(--color-gray60);
}

.search-keyword span {
  color: var(--color-gray80);
}

/* 모바일 */
@media (min-width: 375px) and (max-width: 767px) {
  .search-keyword {
    font-size: 24px;
  }
}
