.filter-keywords-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.filter-keywords-container img {
  cursor: pointer;
}

.filter-keywords-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-keywords-list li {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 36px;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 12px;
  background: #fff;
  border: 1px solid var(--color-primary);
}

.filter-keywords-list li.selected {
  background: var(--color-primary);
  color: #fff;
}

.utils-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.utils-area h2 {
  font-size: 24px;
}

.utils-area ul {
  display: flex;
  gap: 12px;
}

.utils-area ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-gray60);
  cursor: pointer;
}
