.titlebar-container{
  background: var(--color-gray0);
  text-align: center;
  padding: 1.25rem 2rem 3.75rem;
}

.titlebar-container .titlebar-content img{
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  margin-bottom: 12px;
}

.titlebar-container .titlebar-content p{
  font-weight: 400;
  margin-bottom: 20px;
}

.titlebar-container .titlebar-content h2{
  font-weight: 600;
  font-size: 2.5rem;
} 