footer {
  display: flex;
  height: 10rem;
  padding: 32px 104px 64px;
  justify-content: space-between;
  background: var(--color-black);
}

footer .footer-copy {
  color: var(--color-copy);
}

footer .footer-links {
  display: flex;
  gap: 1.875rem;
}

footer a {
  color: var(--color-links);
}

footer .footer-sns {
  display: flex;
  gap: 0.75rem;
}

/* 모바일 */
@media (min-width: 375px) and (max-width: 767px) {
  footer {
    position: relative;
    height: 4rem;
    padding: 2rem 2rem 4rem;
  }

  .footer-copy {
    position: absolute;
    bottom: 32px;
  }
}
