.card {
  border-radius: 0.625rem;
  overflow: hidden;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.card a {
  color: unset;
}

.card .card-imgbox {
  height: 12.5rem;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  transition: 0.3s all;
}

.card img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.card .card-content {
  padding: 0.9375rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card .time-ago {
  font-size: 13px;
  color: #666;
}

.card p {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5rem;
}

.card .creat-data {
  font-size: 14px;
}
