:root {
  /* color */
  --color-primary: #6d6afe;
  --color-red: #ff5b56;
  --color-black: #111322;
  --color-white: #ffffff;
  --color-gray80: #3e3e43;
  --color-gray60: #9fa6b2;
  --color-gray40: #ccd5e3;
  --color-gray20: #e7effb;
  --color-gray0: #f0f6ff;
  --color-transparent: transparent;
  --color-skyblue: #6ae3fe;
  --color-pastelblue: #6fbaff;
  --color-graypurple: rgba(82, 136, 133, 0.22);
  --color-pink: #ff9f9f;
  --color-hotpink: #fe578f;
  --color-yellow: #ffd88b;
  --color-text: #6b6b6b;
  --color-copy: #676767;
  --color-links: #cfcfcf;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body,
input,
textarea,
button,
i {
  font-family: "pretendard", sans-serif;
}

ul,
li {
  list-style: none;
}

.container {
  position: relative;
  max-width: 62.375rem;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.pc-blind {
  display: none;
}

/* 태블릿 이하 */
@media (max-width: 1199px) {
  .pc-blind {
    display: unset;
  }

  .container {
    padding: 0 2rem;
  }
}

/* 태블릿 */
@media all and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 43.625rem;
  }
}

/* 모바일 */
@media (min-width: 375px) and (max-width: 767px) {
  .cta {
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
  }
}
